body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(198, 200, 242);
}
.buzos{
    width: 60px;
    height: 60px;
}

#game-board {
    width: 600px;
    height: 600px;
    background-color: #7d6060;
    border: 2px solid #fff;
    position: relative;
}

.row {
    display: flex;
}

.empty {
    border: 1px solid #72a5c3;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-color: #72a5c3;
}

.wall {
    border: 1px solid #72a5c3;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-color: #856868;
}

#movableImage {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s ease-in-out;
}

