body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(198, 200, 242);
}

#game-board {
    width: 600px;
    height: 600px;
    background-color: #7d6060;
    border: 5px solid black;
    position: relative;
}

.row {
    display: flex;
}

.empty {
    width: 60px;
    height: 60px;
    background-color: #72a5c3;
}

.wall {
    width: 60px;
    height: 60px;
    background-color: #856868;
}

#movableImage {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s ease-in-out;
}

.wall.collision {
    background-color: red;
}

#movableImage.collision {
    background-color: blue;
}

.buzos {
    width: 60px;
    height: 60px;
    display: block; 
}

.arpon {
    width: 60px;
    height: 60px;
}
    
#hiddenArpon {
    display: none;
}