body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#game-board {
    width: 400px;
    height: 400px;
    background-color: #333;
    border: 2px solid #fff;
    position: relative;
}

.pacman {
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    transform-origin: center;
}
.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #888;
}

.empty {
    background-color: #333;
}

.wall {
    background-color: #000;
}

